# Віртуальне середовище
.venv/
venv/
__pycache__/

# Ваги моделей YOLO
*.pt

# Медіафайли (відео/зображення для тестування)
*.mp4
*.avi
*.jpg
*.png

# Результати тренувань/тестів (якщо вони генеруються автоматично)
runs/

# Системні файли Mac (на випадок перенесення)
.DS_Store
